DB_HOST=localhost
DB_PORT=5432
DB_NAME=ticket_workflow
DB_USERNAME=ticket_workflow
DB_PASSWORD=change-me

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=change-me

KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/opsmind

OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
